:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 430px;
  height: 555px;
  margin: 0 auto;
  font-size: 0px;
  background: #000000;
  overflow: hidden;
}
.receiving-address {
  display: block;
  position: relative;
  height: 33px;
  margin: 70px 0 0 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 32.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.wallet-name {
  display: block;
  position: relative;
  height: 26px;
  margin: 5px 0 0 30px;
  color: #6d6d6d;
  font-family: Montserrat, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.rectangle {
  position: relative;
  width: 93px;
  height: 33px;
  margin: 15px 0 0 297px;
  cursor: pointer;
  background: #1e1e1e;
  border: none;
  z-index: 5;
  border-radius: 34px;
}
.paste {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 8px;
  left: 34px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.vector {
  position: absolute;
  width: 13.98%;
  height: 39.39%;
  top: 30.3%;
  left: 18.28%;
  background: url(../assets/images/e15d12ee-0ddc-4bb7-b666-cda1ae4fd6ad.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.line {
  position: relative;
  width: 370.001px;
  height: 11px;
  margin: 13.5px 0 0 30px;
  background: url(../assets/images/c4b8502f-7e54-44ba-a92b-63fca4f557bf.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.group {
  position: absolute;
  width: 7.44%;
  height: 4.86%;
  top: 4.86%;
  left: 84.65%;
  background: url(../assets/images/b7a18df4-9f84-4266-bf3f-ee182f78e89c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.arrow {
  position: absolute;
  width: 1px;
  height: 0px;
  top: 40px;
  left: 30px;
  background: url(../assets/images/baa7df6a-671b-4184-b97f-8fddd658b4d9.png)
    no-repeat center;
  background-size: cover;
}
